<footer class="footer container-fluid bg-dark">
    <div class="d-flex justify-content-center">
        <a href="https://www.linkedin.com/in/pierre-marquet-98987b199/" onclick="window.open(this.href); return false;" class="btn btn-primary rounded-circle btn-lg"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/SokouPM" onclick="window.open(this.href); return false;" class="btn btn-secondary rounded-circle btn-lg"><i class="fab fa-github"></i></a>
        <a href="mailto:marquet_pierre@yahoo.fr" class="btn btn-danger rounded-circle btn-lg"><i class="fas fa-envelope"></i></a>
        <a href="./sources/files/CV_PierreMarquet.pdf" onclick="window.open(this.href); return false;" class="btn btn-success rounded-circle btn-lg"><i class="fas fa-file-pdf"></i></a>
    </div>
    <div class="text-center py-3">Pierre Marquet - <span class="text-primary">2020</span></div>
</footer>