<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.php?home">
        <img src="./sources/files/logo.png" height="45" class="d-inline-block align-top" alt="logo" loading="lazy">
        <span>Accueil</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMarkup" aria-controls="navbarNavMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavMarkup">
        <div class="navbar-nav ">
            <a class="nav-link btn btn-dark btn-lg" href="index.php?presentation">Présentation</a>
            <a class="nav-link btn btn-dark btn-lg" href="index.php?parcours">Mon parcours</a>
            <a class="nav-link btn btn-dark btn-lg" href="index.php?infographies">Mes productions graphiques</a>
            <a class="nav-link btn btn-dark btn-lg" href="index.php?web">Mes productions web</a>
        </div>
    </div>
</nav>